# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc

# =========================
# Spark
# =========================
spark-warehouse/

# =========================
# Data / Storage (BIG FILES)
# =========================
storage/
*.parquet

# =========================
# Logs
# =========================
*.log

# =========================
# Local configs
# =========================
.env

# =========================
# Test / temp files
# =========================
*_backup.py
pipeline/test_*.py
pipeline/spark_test.py
pipeline/spark_jvm_test.py

# =========================
# System
# =========================
.ivy2/

.vscode/
minio-data/
*.pem
*.pub
eval*