# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
bd-pipeline-env/

# Environment variables
.env

# Spark
spark-warehouse/
metastore_db/

# Data (ignore heavy files, keep structure)
data/local/*.parquet
data/local/*.csv

!data/
!data/local/

# Storage layers
storage/taxi/raw/
storage/taxi/silver/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db